* {
    margin: 0;
    padding: 0;
}
.top {
    width: 100vw;
    font-size: 62.5%;
    
    &__container {
        
        &-heading {
            text-align: center;
            font-size: 1.5rem;
        }
        
        &-form {
            text-align: center;
            margin: 3rem 0 3rem 0;
            
        }
        
        &-input {
            width: 60%;
            height: 2rem;
            
        }
        
        &-lists-box {
            background-color: #eee;
            width: 80%;
            min-height: 50vh;
            margin: 0 auto;
            padding: 1rem;
        }
        
        &-lists {
            padding: 0;
            margin: 0;
        }
        
        &-list {
            list-style: none;
            background-color: #fff;
            padding: 1rem;
            margin: 2rem 1rem;
            border-radius: .5rem;
            position: relative;
        }
        
        &-list-delete-btn {
            position: absolute;
            right: 0;
            bottom: -1.5rem;
            background-color: #FF0033;
            padding: .3rem 1rem;
            border-radius: .5rem;
            width: 3rem;
            height: 1rem;
            
            &:hover {
                cursor: pointer;
            }
        }
        
        &-list-delete-btn::after {
            content: "delete";
            position: absolute;
            left: 1.5rem;
        }
        
        
        
        &-list--click {
            background-color: #fed900;
        }
        
        &-list--click::after {
            content: "completed";
            position: absolute;
            right: 1rem;
        }
        
    }
}